
body {
 background-color: #040404;
 min-height: 100vh;
 font-family: 'Montserrat', sans-serif;
 font-size:16px;
 margin: 0px;
 max-width: 100vw;
}

.langing-page{
    height: 100vh;
    max-width: 100vw;
}

header {
    padding: 0.7rem 1rem;
}

header img {
    max-height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 3rem;
    padding: 0 1rem;
}

#nav-toggle {
    z-index: 5;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #707070;
    top:0px;
    left: 100vw;
    opacity: 40%;
    transition: left 0.3s ease-in-out 0.3s;
}

.overlay.open {
    left: 0px;
}

.overlay.close {
    left: 100vw;
}

/* style for nav links */
.nav-link {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    width: 80vw;
    top: 0;
    left: 100vw;
    color: white;
    background-color: #040404;
    transition: left 0.5s ease-in-out;
    z-index: 2;

}

/*styles for li*/
.nav-link > ul {
    margin: 12rem auto;
    padding: 0%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}

/* nav links li*/
.nav-link > ul > li {
    padding-bottom: 1rem;
}

.nav-link a {
    text-decoration: none;
    color: #707070;
    font-size: 1.3rem;
}

.nav-link a.selected {
    text-decoration: underline;
    
}

.nav-link a:hover {
    color: #EBEBEB;
}


.nav-link.open{
    left: 25vw;
}

.nav-link.close{
    left: 100vw;
}


/* hero section styles */
#hero-section {

    display: flex;
    flex-direction: row;

}

#hero-desc .hero-title {
    color: #EBEBEB;
    font-size: 1.5rem;
    font-style: bold;
}

#hero-desc .hero-sub-title, .hero-desc-text {
    color: #707070;
    font-size: 0.9rem;
    padding-left: 1.8rem;
    font-style: normal;
}

#hero-desc .hero-desc-text {
    opacity: 70%;
    font-size: 0.8rem;

}

#hero-desc {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
}

#hero-desc h2,h3,p {
    margin: 0.5rem;
}

#hero-image {
    background-image: url('../images/headshot2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    height: 80vh;
    max-height: 70vh;
    width: 40vw;
}

#scroll-indicator{
    position: static;
 
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #707070;
    justify-content: center;
    align-items: center;
}

#scroll-indicator > p {
    font-size: 0.7rem;
}

#scroll-indicator > #scroll-mouse {
    margin: 0.3rem 0 0.3rem 0;
}

#scroll-indicator > #scroll-down {
    animation: move-down 2s ease-in-out infinite;
}


/* animation key from from scroll down indicator*/
@keyframes move-down {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(0.5rem);
    }
    67% {
      opacity: 1;
      transform: translateY(0.5rem);
    }
    100% {
      opacity: 0;
      transform: translateY(0.5rem) scale3d(0.5, 0.5, 0.5);
    }
  }


  .section-container {
      display: flex;
      padding: 3rem 0px;
      height: 27rem;
      max-width: 100%;
      max-height: 27rem;
      flex: 1;
      justify-content: center;
  }

  .section-container#project-section{
      background-color: #0C3C78;
  }

  /*Styles for custom grid*/


  .flex {
      display: block;

  }

  .col{
      max-width: 100%;
      height: 50%;
      /* background-color: pink; */
      padding: 1rem;
        text-align: center;
    }

  .col img {
      height: 100%;
  }

  #mockup-img{
      width: 100%;
      height: 100%;
      background-image: url(../images/project-mockup.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

  }
  .info-box h3 {
    font-size: 1.3rem;
    }

    .info-box p {
        padding:0 1rem 0 1rem;
        font-size: 0.8rem;

    }

  #project-section{
    color: white;
    }

    #project-section h3 {
        color: #EDEDED;
    }

    #project-section p {
        color: #D1D0D0;
        margin-bottom: 1rem;
    }

    .cta-btn {
        display: block;
        background-color: white;
        line-height: 2rem;
        padding: 0.2rem;
        text-decoration: none;
        text-align: center;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
        transition: all 0.5s ease-in-out;
        font-weight: bolder;
    }

    .cta-btn:hover{
        box-shadow: 0px 5px 14px rgba(0,0,0,0.4);
    }

    #project-section  .cta-btn {
        color: #000000;
        
    }


    /*research section styles */
    #research-section{
        background-color: #04879C;
    }

    #lambton-img{
        width: 100%;
        height: 100%;
        background-image: url(../images/lambton-logo-research.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
  
    }

    .leader{
        order: -1;
    }

    #research-section{
        color: white;
    }

    #research-section h3 {
        color: #EDEDED;
    }

    #research-section p {
        color: #D1D0D0;
        margin-bottom: 1rem;
    }

    #research-section  .cta-btn {
        color: #FCFAFA;
        background-color: #000000;
    }

    


    /* Styles for photography section */
    

    #photography-section{
        background-color: #9D0B28;
    }

    #photo-img{
        width: 100%;
        height: 100%;
        background-image: url(../images/photo-collage.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
  
    }


    #photography-section{
        color: white;
    }

    #photography-section h3 {
        color: #EDEDED;
    }

    #photography-section p {
        color: #D1D0D0;
        margin-bottom: 1rem;
    }

    #photography-section  .cta-btn {
        color: #9D0B28;
        background-color: #FFF8F8;
    }


    /* Styles for exeprience sector*/
    #experience-section{
        background-color: #FFFFFF;
    }

    #lambton-img{
        width: 100%;
        height: 100%;
        background-image: url(../images/lambton-logo-research.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
  
    }

    

    #experience-section{
        color: #000000;
    }

    #experience-section h3 {
        color: #000000;
    }

    #experience-section p {
        color: #484646;
        margin-bottom: 1rem;
    }

    #experience-section  .cta-btn {
        color: #FFFFFF;
        background-color: #000000;
    }

  
    /* experience comments styles*/

    .headshots
    {
        list-style: none;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .headshot {
        height: 70px;
        width: 70px;
        background-size: contain;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
        position: relative;
        margin-bottom: 50px;
        
    }

    .message-bubble {
        position: absolute;
        left:100%;
        bottom: 50%;
        margin-left: 0.5rem;
        width: 300px;
        max-width: calc(100vw - 102px);
        background-color: #484646;
        border-radius: 20px 20px 20px 5px;
       
    }

    #experience-section .message-bubble >.comment{
        font-size: 0.8rem;
        font-style: italic;
        color: white;
        margin-bottom: 0px;

    }

    #experience-section  .message-bubble >.designation{
        font-size: 0.8rem;
        color: #DDD7D7;
        padding-left: 1rem;

    }

    #message-container{
        justify-content: flex-start;
    }

    footer{
        display: flex;
        justify-content: center;
        background-color: #CCCCCC;
    }

    footer a {
        height: auto;
    }

    footer ul{

        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        margin: 2px 5px 2px 5px;
    }

    footer li {
        margin-right: 5px;
    }



    /* Styles for project page starts here*/

        #project-collage{
           padding: 0.1rem 0.8rem;
        }

        #project-collage ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            padding-left: 0px;
        }

        #project-collage li {
            height: 40vh;
            flex-grow: 1;
        }

        #project-collage li:last-child {
            flex-grow: 10;
        }

        #project-collage img {
            max-height: 100%;
            min-width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }





        @media (max-aspect-ratio: 1/1) {
            #project-collage li {
                height: 30vh;
            }
        }


        @media (max-height: 480px) {
            #project-collage li {
                height: 80vh;
            }
        }


        @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
            #project-collage ul {
                flex-direction: row;
            }

            #project-collage li {
                height: auto;
                width: 100%;
            }
            #project-collage img {
                width: 100%;
                max-height: 75vh;
                min-width: 0;
            }
        }

    
/* style for tablet mode
My grid sytem has mainly two column for display each looks good around 320px so anything below 680=(320*2 +10+ 20) 
will move to default mobile view 
*/
@media only screen and (min-width: 680px) {


header {
    padding: 0.5rem 5rem;
}

#nav-toggle{
    display: none;
}

.nav-link {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100%;
    color: white;
    background-color: #040404;
}

/*styles for li*/
.nav-link > ul {
    width: 80%;
    margin: 0rem 0rem;
    padding: 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-liink.close {
    left: 0px;
}

.nav-link.open{
    left: 0px;
}

.nav-link > ul > li {
    padding-bottom: 0rem;
    padding-right: 1rem;
}

.overlay.open {
    left: 100vw;
}

.overlay.close {
    left: 100vw;
}

#hero-desc .hero-title {
    color: #EBEBEB;
    font-size: 3.12rem;
}

#hero-desc .hero-sub-title, .hero-desc-text {
    color: #707070;
    font-size: 1.87rem;
}

#hero-desc .hero-desc-text {
    opacity: 70%;
    font-size: 1.7rem;
}


#scroll-indicator > p {
    font-size: 1.2rem;
}


#scroll-indicator #scroll-mouse {
    height: 3rem;
    width: 8rem;
}

#scroll-indicator #scroll-down {
    height: 0.5rem;
    width: 2rem;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col{
    max-width: 22rem;
    margin: 0px 10px;
    width: 22rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.col img {
    width: 100%;
    align-content: center;
    
}

.info-box h3 {
    font-size: 1.8rem;
}

.info-box p {
    padding:0 1rem 0 1rem;
    font-size: 1.1rem;

}

.cta-btn{
    margin: 0px 0.8rem 0px 0.5rem;
}



.message-bubble {
   
    max-width: calc(100vw/2 - 122px);

   
}

#project-collage{
    padding: 1rem 5rem;
 }


}